<!DOCTYPE html>
<html lang="en" data-ng-app="shadowApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shadow Day</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-ng-controller="MainCtrl">

<!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="heading"><h1>{{ heading | uppercase }}</h1></div>
            </div>
        </div> <!-- /.row -->

        <div class="row search" data-ng-show="showSearch">
            <div class="col-md-12 text-center">
                <div class="interest">I am interested in learning more about the <select data-ng-model="industryModel" data-ng-options="industry.name for industry in industries" data-ng-change="searchIndustry()" id="industry-input"></select>
                industry and would like to find someone to shadow for a day.</div>

                <div class="or-sep">or</div>

                <div class="interest">I am interested in learning more about a degree in <select data-ng-model="degreeModel" data-ng-options="degree.name for degree in degrees" data-ng-change="searchDegree()" id="degree-input"></select>
                 and would like to find someone to shadow for a day.</div>
            </div>
        </div> <!-- End search area -->

        <div class="row results" data-ng-show="showResults">
            <div class="col-md-12 text-center">
                <div data-ng-repeat="mentor in mentors" class="col-md-6 col-md-offset-3 mentor">
                    <img src="http://placekitten.com/120/120" class="pull-left img-circle" />
                    <h3>{{ mentor.first_name + ' ' + mentor.last_name[0] }}</h3>
                    <h4 class="company">{{ mentor.company }}</h4>
                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a> <a href="#"><i class="fa fa-envelope-o fa-lg"></i></a>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div data-ng-click="goBack()">GO BACK</div>
            </div>
        </div> <!-- End results area -->

    </div> <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Angular.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="js/app.js"></script>

</body>

</html>
